<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Serviços fornecidos Barbearia 7timos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="css/style2.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
       
            <div class="header" align="center">
            <img src="imagem/imagem7.png" alt="Barbearia setimos"/>
            
            <h1> Barbearia 7timos</h1>
        </div>

        <div class="menu">
            
            <ul>
                <li><a href="../index.html">Principal</a></li>
                <li><a href="servicos.html">Serviços</a></li>
                <li><a href="agenda.php">Agenda</a></li>
                <li><a href="usuario.php">Usuário</a></li>
                <li><a href="avaliacao.php">Avaliação</a></li>
                <li><a href="sobre.html">Sobre</a></li>
            </ul>
            
        </div>


        <div>Conteúdo 1</div>


        <div>Conteúdo 2</div>


        <div>Rodapé</div>
        
        
    </body>
</html>
